/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  transition: all 0.3s ease;
}
:root{
  --white: white;
  --black: black;
  --nav-main: #3a0ca3;
  --switchers-main: #3a0ca3;
  --light-bg: #F0F8FF;
  --shadow: rgba(0,0,0,0.5);
  --navcol: white;
  --white-shade: rgb(255,255,255);
}
body{
  background-color: var(--white);
}
nav{
  position: fixed;
  height: 70px;
  width: 100%;
  background: var(--nav-main);
  border-bottom: 1px solid white;
  z-index: 3;
}
nav .navbar{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0 30px;
  justify-content: space-between;
}
nav .navbar a{
  color: var(--navcol);
  text-decoration: none;
}
 .navbar .nav-links{
   display: flex;
 }
 .navbar .nav-links li{
   margin: 0 8px;
   list-style: none;
   display: flex;
 }
 .navbar .nav-links a{
   font-size: 18px;
   font-weight: 400;
   opacity: 1;
 }
  .navbar .nav-links a:hover{
    opacity: 1;
  }
 .appearance{
   display: flex;
   position: fixed;
   bottom: 20px;
   left:20px;
   align-items: center;
   z-index: 2;
 }
 .appearance .light-dark,
 .appearance .icons{
  height: 50px;
  width: 50px;
  border-radius: 6px;
  line-height: 50px;
  text-align: center;
  color: var(--white);
  font-size: 20px;
  background: var(--switchers-main);
  cursor: pointer;
  z-index: 2;
}
.appearance .light-dark i,
.appearance .icons i{
  opacity: 1;
}
.appearance .light-dark:hover i,
.appearance .icons:hover i{
  opacity: 1;
}
.appearance .light-dark:hover{
  box-shadow: 0 5px 10px rgba(0,0,0,0.1)
}

.appearance .light-dark i{
  height: 100%;
  width: 100%;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 4px;
  padding-left: 80px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--nav-main);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */


.home-content{
  height: 100vh;
  width: 100%;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 60px;
  z-index: 1;
}

.home-content h2{
  color: var(--black);
  font-size: 50px;
}
.home-content h3{
  color: var(--black);
  font-size: 42px;
  margin-top: -8px;
}
.home-content h3 span{
  color: var(--switchers-main);
}
.home-content h3 span.darkMode{
  color: var(--black);
}
.home-content p{
  color: var(--black);
  font-size: 16px;
  width: 45%;
  text-align: justify;
  margin: 4px 0 30px 0;
}
.home-content a{
  color: #fff;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  background: var(--nav-main);
}
.home-content a i{
  transform: rotate(45deg);
  font-size: 16px;
}
.home-content a:hover{
  background: var(--switchers-main);
}

#about{
  display: block;
}
#skills{
  display: block;
}
#contact{
  display: block;
}
#certificate{
  display: block;
}
#projects{
  display: block;
}
.arrange{
  display:flex;
  flex-direction:row-reverse;
  justify-content: space-around;
  align-items:center;
}
* {
  box-sizing: border-box;
}
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  box-shadow: 2px 2px 2px 2px var(--black) ;
width:80%;
}
.blog-card a {
  color: inherit;
}
.blog-card:hover{
  box-shadow: 4px 4px 4px 4px var(--black) ;
}
.blog-card a:hover {
  color: var(--switchers-main);
  
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details, .blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
  width:60vw;
}
.blog-card .description {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: var(--white);
  color: var(--black);
  position: relative;
  z-index: 1;
  
}
.blog-card .description h1, .blog-card .description h2 {
  font-family: Poppins, sans-serif;
  text-align: start;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: var(--switchers-main);
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--switchers-main);
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height:80vh;
}
.sub-title{
  justify-content: center;
  text-align: center;
  width:300px;
  margin:auto;
  margin-top:50px;
  color: var(--black);
  border-bottom: 5px solid var(--switchers-main);
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
 }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
 }
  .blog-card .description {
    flex-basis: 60%;
 }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
 }
  .blog-card.alt {
    flex-direction: row-reverse;
 }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
 }
  .blog-card.alt .details {
    padding-left: 25px;
 }
}

@media (max-width: 1050px) {
  .home-content p{
    width: 70%;
  }
  .arrange{
    justify-content: center;
  }
}
.scroll{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}
.arrange img{
  position: absolute;
  right:50px;
  width: 40vw;
  height: 30vw;
}
@media (max-width: 1350px) {
  .arrange img{
    display: none;
  }
}
/*Skills*/




#certificate{
  min-height:100vh;

}
#certificate img {
  min-height: 250px;
  min-width: 300px;

}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  margin: 3rem;
  width: 300px;
  height: 250px;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width:300px;
  height: 250px;
}.card:hover .card__image{
      filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  /*filter: saturate(180%);*/
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  z-index:1;
}


.card__title {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

#skills{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@media (max-width: 590px){
  .skillbox {
    min-width:100px;
  }
  .skillbox h3{
    font-size: 12px;
  }
}
#skills h4{
  display: flex;
  height:100px;
  width:100px;
  margin:40px 60px;
  background-color: var(--white);
  border:1px solid var(--shadow);
  box-shadow: 5px 5px 2px 2px var(--shadow);
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 50% 50%;
  color:var(--black);
  text-align: center;
}
/*skill*/

.skill-flex{
  margin-top:50px;
	width:100%;
	display:flex;
  justify-content: center;
	flex-wrap:wrap;
}
.skillbox{
	display:flex;
	background-color: var(--nav-main);
	color: white;
	width: 250px;
	border-radius: 5px;
	height: 70px;
	justify-content: space -bewtween;
	align-items:center;
	box-shadow: 2px 2px 5px var(--black);
	margin:20px;
}
.skillbox:hover{
  box-shadow: 4px 4px 8px var(--black);
}
.skillbox img{
	width:40px;
	height:40px;
	margin: 10px;
}


@media (max-width: 450px) {
  .home h2{
    font-size: 40px;
  }

}

/*about*/
#about{
  top: -150px;
	width:100%;
	max-height: 800px;
	background-color: var(--white);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 5% 0px 5%;
}
.about-text{
	font-family: calibri;
	width: 50%;
}
.about-text h1{
	font-size: 5rem;
	color: var(--switchers-main);
}
.about-text h2{
	font-size: 3rem;

	font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color: var(--Black);	
}
p{
  color: var(--Black);
}
.about-text button{
	width: 180px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
}
.about-text button:hover{
	background-color: #FFFFFF;
	transition: all ease 0.3s;
}

.about-flex{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  background-color:var(--white);
  max-width: 100vw;
}

.about-model{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me{
  width:30%;
  min-width: 300px;
  margin:50px;
  color:var(--black)
}
.img2{
  width: 200px;
    height: 200px;
    background-color: var(--switchers-main);
    border-radius: 50% 50% 50% 50%;
}
@media (max-width: 600px) {
  
  #about img{
    width: 200px;
    height: 200px;
    background-color: var(--switchers-main);
    border-radius: 50% 50% 50% 50%;
  }
  .about-me{
    text-align: center;
  }
}
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-me{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 300px;
  min-height: 300px;
}

form{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
input{
  max-width:250px;
  padding:10px;
  border-radius: 5px;
  font-size: 20px;
  margin:10px;
}
textarea{
  width:500px;
  height:200px;
  font-size: 20px;
  padding:10px;
  border-radius: 5px;
}
form button{
  font-size: 20px;
  padding: 10px;
  color:white;
  background-color: var(--switchers-main);
  border:none;
  border-radius: 5px;
  justify-content: flex-start;
  margin: 10px;
}

.location iframe{
  margin: 20px;
  width: 400px;
  max-width: 400px;
  max-height:400px;
  height: 500px;
}
footer{
  height: 50px;
  background-color: var(--nav-main);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer img{
  margin-top:5px;
  margin-bottom:0px;
  color:white;
}
@media only screen and (max-width: 700px) {
  .smoothSlideContainer{
    display: none;
  }
  li{
    display: none;
  }
  .menu{
    display: block;
  }
  .nav-links{
    flex-direction: column;
  }  
}
body{
  max-width:100vw;
  max-height:100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*Home*/
.profiles{
  display: flex;
  max-width:400px;
}
.profiles a{
    width: 50px;
    max-height: 40px;
}
.profiles img{
  width: 50px;
    max-height: 40px;
}