    body {
        background-color: rgb(241, 240, 236);
    }
    
    .l-header {
        /*background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
    */
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/img/background.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        color: white;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        border-radius: 0px 0px 50px 50px;
    }
    
    .profile_img {
        width: 40vw;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 25% 0px 50px 25%;
    }
    
    nav {
        position: sticky;
        top: 0px;
        right: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: 30px;
        z-index: 3;
        border-radius: 0px 0px 50px 50px;
    }
    
    .nav__menu {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 40px 40px 40px;
    }
    
    .home__img {
        width: 100%;
        height: 100px;
    }
    
    .nav__menu a img {
        width: 7vh;
        height: 7vh;
    }
    
    .nav__menu a {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7vw;
        height: 7vw;
        border-radius: 50% 50% 50% 50%;
        background-color: orange;
        color: white;
        font-size: 10px;
    }
    
    .home {
        width: auto;
        height: auto;
        padding-top: 200px;
    }
    
    .home__container h1 {
        color: white;
        font-size: 60px;
        padding: 0px 100px;
    }
    
    .home__container h3 {
        color: white;
        font-size: 30px;
        padding: 0px 100px;
    }
    
    .about__section {
        position: relative;
        top: 500px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .about__container {
        background-color: white;
        box-shadow: 20px 20px 50px grey;
        position: relative;
        display: flex;
        width: 90vw;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .about__subtitle {
        text-align: center;
        font-size: 4vh;
        color: orange;
        justify-content: center;
    }
    
    .about__profession {
        text-align: center;
        font-size: 3vh;
        color: black;
        display: flex;
        font-style: italic;
        justify-content: center;
    }
    
    .line_element {
        background-color: orange;
        position: absolute;
        top: 0px;
        height: 20px;
        width: 90vw;
        z-index: 2;
    }
    
    .about__text {
        text-align: center;
        font-size: 2vh;
        color: black;
    }
    
    .about__info {
        background-color: transparent;
        display: block;
        width: 50vw;
        justify-content: center;
        align-items: center;
    }
    
    .about__social-icon {
        width: 3vh;
        color: black;
    }
    
    .about__social {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about__container img {
        height: 20vh;
        background-color: orange;
        border-radius: 150px 150px;
        margin-right: 0px;
    }
    
    .section-title {
        text-align: center;
        color: orange;
        display: grid;
        justify-content: center;
        align-items: flex-start;
    }
    
    .portfolio__container {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .portfolio__img img {
        width: 250px;
        height: 200px;
    }
    
    .outer_about {
        height: 650px;
    }